1. Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [8]:
a=200
b=10
c=a*b
if c<=1000:
    print("product is: ",c)
else:
    print("sum is: ",a+b)

sum is:  210

2. Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number

In [9]:
i = 1
while i<11:
    print(i)
    i +=1

1
2
3
4
5
6
7
8
9
10

3. Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

4. Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.

5. Write a program to create a function show_employee() using the following conditions.

* It should accept the employee’s name and salary
and display both.
* If the salary is missing in the function call then assign default value 9000 to salary

6. Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

**keys** = ['Ten', 'Twenty', 'Thirty']

**values** = [10, 20, 30]

In [10]:
list1=["ten","twenty","thirty"]
list2=[10,20,30]
a=dict(zip(list1,list2))
print(a)

{'ten': 10, 'twenty': 20, 'thirty': 30}

7. Print the value of key ‘history’ from the below dict

sampleDict = {
  
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [11]:
sampleDict = {
  
    "class": 
        "student": 
            "name": "Mike",
            "marks": 
                "physics": 70,
                "history": 80
            }

SyntaxError: invalid syntax (3847951977.py, line 4)

8. We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

**sample_dict** = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
simple_dict={'a':100,'b':200,'c':300}
print(200 in simple_dict)
print('a' in simple_dict)

9. Get the key of a minimum value from the following dictionary

sample_dict = {

  'Physics': 82,

  'Math': 65,

  'history': 75

}

Expected Output : Math

In [ ]:
sample_dict = {

  'Physics': 82,

  'Math': 65,

  'history': 75

}
minimum_value=min(sample_dict.keys(), key=(lambda k: sample_dict[k]))
print("minimum value: ",sample_dict[minimum_value])

10. Swap two tuples in Python

tuple1 = (11, 22)

tuple2 = (99, 88)

**Expected Output**:

In [ ]:
tuple1 = (11, 22)

tuple2 = (99, 88)
(tuple1,tuple2)=(tuple2,tuple1)
print(tuple1)
print(tuple2)

11. Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

**Given**:

tuple1 = (11, 22, 33, 44, 55, 66)

**Expected output**:

tuple2: (44, 55)

12. Counts the number of occurrences of item 50 from a tuple

**Given:**

tuple1 = (50, 10, 60, 70, 50)

**Expected output:**

2

13. You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

**Given**:

list1 = [5, 10, 15, 20, 25, 50, 20]

**Expected output**:

[5, 10, 15, 200, 25, 50, 20]

14. Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

**Given**:

list1 = [5, 20, 15, 20, 25, 50, 20]

**Expected output**:

[5, 15, 25, 50]

15. Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.

**Given**:

set1 = {10, 20, 30}
set2 = {20, 40, 50}

**Expected output**:

set1 = {10, 30}

16. Display Fibonacci series up to 10 terms
Have you ever wondered about the Fibonacci Sequence? It’s a series of numbers in which the next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series is 13 + 21 = 34.

**Expected output**:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

17. Write a function that takes a nested dictionary of students' scores and returns the student with the highest average score.

**Example input**:

students = {

    "Alice": {"Math": 85, "English": 92, "Science": 88},
    "Bob": {"Math": 78, "English": 81, "Science": 85},
    "Charlie": {"Math": 95, "English": 89, "Science": 94},
}

**Expected output**:

Output: "Charlie"

18. Write a function that takes a string and returns a dictionary with the frequency of each word.

**Example**:

word_frequency= ("hello world hello Python world")

**Output**: {"hello": 2, "world": 2, "Python": 1}

19. Write a function that finds the second largest number in a list.

**Example**:

second_largest= [3, 5, 7, 1, 4]

**Output**: 5

20. Write a function that sorts a list of strings by their length in ascending order.

sort_by_length= ["Python", "is", "fun"]

**Output**: ["is", "fun", "Python"]

**Bonus 1**:
You are tasked with creating a program that tracks students’ grades and calculates their final scores and grades. The program should perform the following:

**Input Student Data**:

Create a function to take input for multiple students, where each student has:

Name (string)

ID (integer)

Grades in 3 subjects (a list of floats)

**Calculate Final Score**:

Create a function that calculates the final score for each student. The final score is the average of their grades in the 3 subjects.

**Assign Grades**:

Create another function that assigns a grade based on the final score:

A for scores >= 90

B for scores >= 80 and < 90

C for scores >= 70 and < 80

D for scores >= 60 and < 70

F for scores < 60

**Output Summary**:

Use a loop to display a summary of all students, including:

Name

ID

Final Score

Grade

**Bonus Challenge**:

Add a function to find the top student (the one with the highest final score).

**Bonus 2**: You need to design a Library Management System for a small library. The system should perform the following tasks:

**Add New Books**:

Create a function that allows the librarian to add new books to the system.
Each book should have:

Title (string)

Author (string)

ISBN (string)

Total Copies (integer)

**Borrow a Book**:

Create a function that allows a user to borrow a book by its ISBN.
If the book is not available or all copies are borrowed, display an appropriate message.
Keep track of borrowed books using a dictionary with:

Key: ISBN

Value: Number of borrowed copies.

**Return a Book**:

Create a function that allows a user to return a borrowed book.
Ensure the system updates the borrowed books record properly.

**Display Available Books**:

Create a function that displays all available books along with their title, author, ISBN, and the number of copies currently available.

**Search for a Book**:

Create a function that searches for books by:
Title

Author

Return all matching results.

**Bonus Challenge** :

Add a feature to track which user borrowed which book. For example:
Create a users dictionary where:

Key: User ID

Value: List of borrowed book ISBNs.